$primary: orange;
$secondary: #9B93FF;
$backgrounds: rgb(33, 37, 41);

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Custom SCSS for feature component with Bootstrap icon
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.custom-brand {
    color: $primary;
    font-family: "JetBrains Mono", monospace;
}

.nav-link {
    &:active {
        color: $primary;
    }
    .active {
        color: $primary;
    }
}

.highlight-text {
    color: $primary;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /* Keeps it above other content */
}

.content-box {
    background-color: $backgrounds; /* White with 80% opacity */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    text-align: center;
}


.hero {
    height: 100vh; /* Full viewport height */
    background-image: url('../assets/lightbulb_hand.jpg'); /* Add the path to your image */
    background-size: cover; /* Make sure the image covers the entire section */
    background-position: center; /* Center the background image */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

//.bs-nav-link-hover-color { // Does nothing
//    color: $secondary;
//}