$primary: orange;
$secondary: #9B93FF;

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Custom SCSS for feature component with Bootstrap icon
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.custom-navbar-brand {
    color: $primary;
}

.nav-link {
    &:active {
        color: $primary;
    }
    .active {
        color: $primary;
    }
}

.highlight-text {
    color: $primary;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999; /* Keeps it above other content */
}

//.bs-nav-link-hover-color { // Does nothing
//    color: $secondary;
//}